{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PIROGRAM CARDGAME</title>
<link rel="stylesheet" href="{%static 'styles.css'%}">
<link rel="stylesheet" href="{%static 'games_list.css'%}">
<link rel="stylesheet" href="{%static 'games_attack.css'%}">
</head>
<body>

    <header>
        <h1>♣️ PIROGRAM CARDGAME ♦️</h1>
    <nav>
        <ul>
            <li><a href="{% url 'games:start' %}">게임하기</a></li>
            <li><a href="{% url 'games:game_ranking' %}">랭킹보기</a></li>
            <li><a href="{% url 'users:logout' %}">로그아웃</a></li>
        </ul>
    </nav>
    </header>

    <form method="POST" class="attack_content" action="{% url 'games:start' %}">
    {% csrf_token %} 
        <div class="form-group">
       {% for field in form %}
           <div>{{ field.label }} {{ field }}</div>
        {% endfor %}
        </div>
        <button class="btn-neon">공격하기!</button>
    </form>
    </div>
</body>
</html>
