{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PIROGRAM CARDGAME</title>
<link rel="stylesheet" href="{%static 'styles.css'%}">
<link rel="stylesheet" href="{%static 'games_attack.css'%}">
</head>
<body>

    <header>
        <a href="/"><h1>♣️ PIROGRAM CARDGAME <span class="diamond">♦️</span></h1></a>
    <nav>
        <ul>
            <li><a href="{% url 'games:start' %}">게임하기</a></li>
            <li><a href="{% url 'games:game_ranking' %}">랭킹보기</a></li>
            <li><a href="{% url 'users:logout' %}">로그아웃</a></li>
        </ul>
    </nav>
    
    </header>

    <div class="attack_content">
    <form method="POST" class="attack_content" action="{% url 'games:counterattack' pk %}">
        <h2>{{player_a}}에게 반격하세요!</h2>
        {% csrf_token %} 
        <div class="form-group">
        {{ form }}
        </div>
        <button class="btn-neon">반격하기!</button>
    </form> 
    </div>
</body>
</html>
