{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PIROGRAM CARDGAME</title>
<link rel="stylesheet" href="{%static 'styles.css'%}">
</head>
<body>

    <header>
        <h1>♣️ PIROGRAM CARDGAME ♦️</h1>
        <ul>
        <li><a href="#">게임하기</a></li>
        <li><a href="#">랭킹보기</a></li>
        <li><a href="#">로그아웃</a></li>
        </ul>
    
    </header>

    <main>
        <div class="bottom_buttons  list_line">
        <p>{{유저1}} vs {{유저2}}</p>
        <p>결과:{{결과}}</p>
        <button>게임 취소</button>
        <button>게임 정보</button>
        </div>

        <div class="bottom_buttons  list_line">
        <p>{{유저1}} vs {{유저2}}</p>
        <p>진행중 ..</p>
        <button>게임 취소</button>
        <button>게임 정보</button>
        </div>

        <div class="bottom_buttons list_line">
        <p>{{유저1}} vs {{유저2}}</p>
        <button>반격하기</button>
        <button>게임 정보</button>
        </div>
    </main>

    <div class="bottom_buttons">
        <form method="GET" action="{% url 'games:start' %}">
        <button>게임하기</button>
        </form>
    <button>전적보기</button>
    </div>
</body>
</html>

