{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PIROGRAM CARDGAME</title>
<link rel="stylesheet" href="{%static 'styles.css'%}">
<script
  type="text/javascript"
  src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
  charset="utf-8" defer
></script>
</head>
<body>

    <div class="container">
    <header>
        <h1>♣️ PIROGRAM CARDGAME ♦️</h1>
    </header>

    <div class="login-form-container">
        <form class="login-form">
            <h2>로그인</h2>
            <div class="form">
              <label for="username">ID</label>
              <input type="text" id="username" name="username" required>
            </div>
            <div class="form">
              <label for="password">PASSWORD</label>
              <input type="password" id="password" name="password" required>
            </div>
            <div class="form">
              <label for="nickname">NICKNAME</label>
              <input type="text" id="nickname" name="nickname" required>
            </div>
            <button type="submit">로그인</button>
        </form>

            <div class="social-login">
              <a href="" class="social-circle google">
                <img src="images/google_logo.png" alt="구글" />
              </a>
              <a href="{% users:naver-login %}" class="social-circle naver">
                <img src="images/naver_logo.png" alt="네이버" />
              </a>
            </div>
       
    </div>

  
</body>
</html>
