{% extends 'users/main.html' %}{% block content %}
<main>
    <section>
    <h2 class="main-slogun">전 세계 피로그래밍과<br>한 판 승부 추리 카드게임</h2>
    {% if user.is_authenticated %}
    <div class="connect-user-hi"><span>{{user.username}} </span> 님이 로그인중</div>
    <div class="main_button_list">
        <a class ="btn-neon game_start_btn" href="{% url 'games:start' %}">게임하기</a>
        <a class ="btn-neon game_start_btn" href="{% url 'games:game_list' %}">전적보기</a>
    </div>
    {% else %}
    <button class ="btn-neon game_start_btn" onclick="alert('게임을 시작하기 전 로그인 해주세요');">게임하기</button>
    {% endif %}
    </section>
</main>
{% endblock content %}