{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PIROGRAM CARDGAME</title>
<script src="scripts.js" defer></script>
<link rel="stylesheet" href="{%static 'styles.css'%}">
</head>
<body>

    <div class="container">
    <header>
        <h1>♣️ PIROGRAM CARDGAME ♦️</h1>
        <nav>
        <ul>
            <li><a href="#">로그인</a></li>
        </ul>
        </nav>
    </header>

    <main>
        <section>
        <h2>전 세계 피로그래밍과<br>한 판 승부 추리 카드게임</h2>
        <button onclick="startGame()">게임하기</button>
        </section>
    </main>

    </div>
    
</body>
</html>
